@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
--oxford-blue: hsla(205, 100%, 9%, 1);
--charcoal: hsla(202, 40%, 27%, 1);
--french-gray: hsla(217, 16%, 72%, 1);
--papaya-whip: hsla(38, 100%, 91%, 1);
--peach: hsla(25, 100%, 80%, 1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family:"Roboto", sans-serif;
color: var(--oxford-blue);
display: flex;
justify-content: center;
background-color: var(--peach);
}
.container{
    text-align: center;
    margin-top: 20px;
}

.playerName h1{
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 5px;
    cursor: pointer;
    transition: text-shadow 0.3s ease;
}

.playerName h1:hover{
    text-shadow: 8px 8px 8px black;
}

.resourceContainer{
    padding: 10px;
    background-color: var(--papaya-whip);
    margin-bottom: 10px;
    border-radius: 10px;

}
.resourceContainer p{
font-size: 1.5rem;
margin-bottom: 10px;
}

.resourceContainer span{
    font-weight: 600px;
}
.buttonContainer{
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: space-between;
}


.buttonContainer button{
    width: 100px;
    height: 50px;
    border: none;
    background-color: var(--charcoal);
    border-radius: 10px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 900;
    transition: backround-color 0.3s ease;
    

}

.buttonContainer button:hover{
    background-color: var(--french-gray);
}

.playerInput{
    display: flex;
    flex-direction: column;
}

.playerInput input{
    outline: none;
    border: none;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.playerInput button{
    border: none;
    background-color: var(--charcoal);
    border-radius: 10px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 900;
    transition: backround-color 0.3s ease;
    margin-bottom: 10px;
}

.playerInput button:hover{
    background-color: var(--french-gray);
}